/*
pure css setting
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.MJXc-TeX-unknown-R,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "PingFangSC-Regular", Helvetica, "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", sans-serif !important;
}

body {
  background: #eee;
  color: #444;
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.body_container {
  padding: 0 60px;
  max-width: 1150px;
  margin: 0 auto;
}
.content_container {
  padding-right: 50px;
  padding-top: 20px;
}
a, button.submit {
  color: #6E7173;
  text-decoration: none;
  @include transition(all .1s ease-in);

}
a:hover, a:active {
  color: #444;
}
a:focus {
  outline:auto;
}
.clear {
  clear: both;
}
div {
  box-sizing: border-box;
}
