/* color scheme -l:light -d:dark*/
$bg-white: #fff;

$bg-red:  #ea5960;

$bg-green: #5cf99e;

$bg-green-l: #d9f3f0;

$bg-green-d: #3ac3b3;

$bg-yellow : #f59227;

$bg-yellow-l: #fef3e7;

$bg-blue: #5c74f9;

$bg-blue-l: #edf0fe;

$bg-white-l: #d1d1d1;


$fill-black: #000;

$fill-red : #ea5960;

$fill-green-ice : #5cf99e;

$fill-green: #3ac3b3;

$fill-yellow: #f59227;

$fill-blue : #5c74f9;

$fill-white: #d1d1d1;

/** for reading **/
$link: #000000;
$link-hover: #00d664;
$time: #7f7f7f;
$posttext: #515151;
$posttext-detail: #7f7f7f;
